* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.utama {
  display: flex;
  flex-direction: row;

  height: 100vh;
  padding: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  flex: 2.5;

  align-items: center;
  justify-content: center;
  text-align: left;

  gap: 20px;
}

.bagianSatu {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 10px;
}

.gambar {
  background-color: black;

  display: flex;
  flex: 1.5;
}
