* {
  margin: 0;

  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  background-color: #f4f5f6;

  padding: 24px;
}

.navbar > ul {
  list-style: none;

  display: flex;
  flex-direction: row;

  gap: 24px;
}

.icon {
  display: flex;
  flex-direction: row;

  gap: 8px;
  padding: 5px;
  border: 5px solid;
  border-radius: 35px;
}

.icon > img {
}

.layout {
  display: flex;
  flex-direction: column;

  padding: 24px;
  gap: 24px;
  margin: 10px;
}

.deskripsi {
  display: flex;
  flex-direction: row;

  padding: 24px;

  background-color: #2092e9;
}

.myClass {
  background-color: #f4f5f6;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  gap: 24px;
}

.myClass1 {
  display: flex;
  flex-direction: column;

  padding: 5px;

  background-color: #2092e9;

  justify-content: space-around;
}

.profilKelas {
  display: flex;
  flex-direction: column;
}
