* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.containerRegister {
  padding: 0px;
  gap: 2px;
  min-height: 100vh;

  display: flex;
  flex-direction: row;

  background-color: white;
}

.kiri {
  flex: 2;
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: #2092e9;
  color: white;
}

.isiKiri {
  display: flex;
  flex-direction: column;

  gap: 16px;
  max-width: 420px;

  text-align: left;
}

.isiKiri h1 {
  font-size: 90px;
  font-weight: 700;
}

.isiKiri h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.3;

  color: black;
}

.isiKiri p {
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.9;
}

.kanan {
  padding: 20px;
  gap: 5%;

  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;
  justify-content: center;

  text-align: left;

  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.kanan,
.kanan label,
.kanan p {
  color: #111;
}

.formkanan {
  display: flex;
  flex-direction: column;

  gap: 16px;
  width: 100%;
  max-width: 420px;
}

.informasiNama {
  display: flex;
  gap: 12px;
}

.informasiNama .field {
  flex: 1;
}

.informasiKontak {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.informasiAlamat {
  display: flex;
  gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.informasiAlamat .field {
  flex: 1;
}

.kanan > button {
  margin-top: 10px;
  padding: 12px;

  border: none;
  border-radius: 20px;

  background: #1992e4;
  color: white;

  font-size: 14px;
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field label {
  font-size: 13px;
  color: #555;
}

.field label {
  font-size: 13px;
  color: #555;
}

.field input {
  width: 100%;
  padding: 12px 14px;

  border: 1px solid #d1d5db;
  border-radius: 6px;

  background-color: #ffffff;
  font-size: 14px;
}
