* {
  margin: 0;

  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  background-color: #f4f5f6;

  padding: 24px;
}

.navbar > ul {
  list-style: none;

  display: flex;
  flex-direction: row;

  gap: 24px;
}

.icon {
  display: flex;
  flex-direction: row;

  gap: 8px;
  padding: 5px;
  border: 5px solid;
  border-radius: 35px;
}

.icon > img {
}

.layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "deskripsi deskripsi"
    "ujian progres"
    "petunjuk pratinjau";

  gap: 24px;
  padding: 24px;
}

.deskripsi {
  grid-area: deskripsi;

  background-color: #f4f5f6;
}

.ujian {
  grid-area: ujian;

  background-color: #f4f5f6;
}

.petunjukUjian {
  grid-area: petunjuk;

  background-color: #f4f5f6;
}

.progres {
  grid-area: progres;

  background-color: #f4f5f6;
}

.pratinjauSertifikat {
  grid-area: pratinjau;

  background-color: #f4f5f6;
}
