* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.containerNav {
  background-color: #2092e9;
  color: white;

  display: flex;
  flex-direction: row;

  position: static;
  align-items: center;
  justify-content: space-around;

  border-bottom: 5px;
  border-color:;

  gap: 20px;
  padding: 20px;
}

.navKiri {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.navKiri > ul {
  list-style: none;

  display: flex;
  flex-direction: row;

  gap: 5px;
}

.navKiri > a {
  color: white;
  text-decoration: none;
}

.containerMain {
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.mainAtas {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  flex: 3.5;
  padding: 30px;
  gap: 10%;
}

.atasKiri {
  display: flex;
  flex-direction: column;

  padding: 30px;
  flex: 1;

  justify-content: center;
  text-align: left;

  color: #111;
}

.atasKiri > h2 {
  margin-bottom: 5%;

  font-size: 50px;
}

#blue {
  color: #2092e9;
}

.atasKiri > p {
  margin-bottom: 5%;
  font-size: 15px;

  color: #111;
}

.buttonMain {
  display: flex;
  justify-content: left;

  gap: 12px;
  width: 100%;
}

.atasKanan {
  flex: 1;
}

.mainBawah {
  background-color: #2092e9;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  text-align: center;

  flex: 0.5;
  gap: 20px;
  padding: 20px;
}

.statistik > h3 {
  color: #ff950a;

  font-size: 30px;
}

.galeri {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 100vh;
}

.judul {
  justify-content: center;
  align-items: center;
  text-align: center;

  flex: 1;
  padding-top: 5%;
  font-size: 35px;

  color: #2092e9;
}

.galeriGrid {
  flex: 4;
  grid-gap: 10px;
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.kartu {
  height: 100px;
  width: 100%;

  background-color: #2092e9;
}

.kartu > img {
  height: auto;
  width: 100%;
  max-width: 300px;
  padding: 4px;

  object-fit: cover;
}

.funfact {
  flex: 1;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;

  background-color: #2092e9;
  color: white;

  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.funfact > p {
  font-size: 30px;
}

.aboutUs {
  display: flex;
  flex-direction: row;

  gap: 5px;
  padding: 20px;
}

.aboutKiri {
  flex: 1;
}

.aboutKanan {
  flex: 3;

  text-align: left;
}

.aboutKanan > h2 {
  margin-bottom: 40px;
  color: #111;
}

.aboutKanan > h1 {
  margin-bottom: 25px;
  color: #111;
}

.aboutKanan > p {
  margin-bottom: 15px;
  color: #111;
}

.banyakPeminat {
  display: flex;
  flex-direction: row;
}

.kiriPeminat {
  flex: 2;
}

.kananPeminat {
  display: flex;
  flex-direction: row;

  flex: 3;
  gap: 5px;
}

.peminat {
  background-color: #2092e9;
}
