* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.containerNav {
  background-color: #2092e9;
  color: white;

  display: flex;
  flex-direction: row;

  position: static;
  align-items: center;
  justify-content: space-around;

  border-bottom: 5px;
  border-color:;

  gap: 20px;
  padding: 20px;
}

.navKiri {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.navKiri > ul {
  list-style: none;

  display: flex;
  flex-direction: row;

  gap: 5px;
}

.navKiri > a {
  color: white;
  text-decoration: none;
}

.containerMain {
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.mainAtas {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  flex: 3.5;
  padding: 30px;
  gap: 10%;
}

.atasKiri {
  display: flex;
  flex-direction: column;

  padding: 30px;
  flex: 1;

  justify-content: center;
  text-align: left;

  color: #111;
}

.atasKiri > h2 {
  margin-bottom: 5%;

  font-size: 50px;
}

#blue {
  color: #2092e9;
}

.atasKiri > p {
  margin-bottom: 5%;
  font-size: 15px;

  color: #111;
}

.buttonMain {
  display: flex;
  justify-content: left;

  gap: 12px;
  width: 100%;
}

.atasKanan {
  flex: 1;
}

.mainBawah {
  background-color: #2092e9;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  text-align: center;

  flex: 0.5;
  gap: 20px;
  padding: 20px;
}

.statistik > h3 {
  color: #ff950a;

  font-size: 30px;
}

.galeri {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 100vh;
}

.judul {
  justify-content: center;
  align-items: center;
  text-align: center;

  flex: 1;
  padding-top: 5%;
  font-size: 35px;

  color: #2092e9;
}

.galeriGrid {
  flex: 4;

  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: repeat(1fr, auto);
}
