* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.containerNav {
  background-color: #2092e9;
  color: white;

  display: flex;
  flex-direction: row;

  position: static;
  align-items: center;
  justify-content: space-around;

  border-bottom: 5px;
  border-color:;

  gap: 20px;
  padding: 20px;
}

.navKiri {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.navKiri > ul {
  list-style: none;

  display: flex;
  flex-direction: row;

  gap: 5px;
}

.navKiri > a {
  color: white;
  text-decoration: none;
}

.containerMain {
  background-color: #e9ebed;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.mainAtas {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  flex: 3.5;
  padding: 30px;
  gap: 10%;
}

.atasKiri {
  display: flex;
  flex-direction: column;

  padding: 30px;
  flex: 1;

  justify-content: center;
  text-align: left;

  color: #111;
}

.atasKiri > h2 {
  margin-bottom: 5%;

  font-size: 50px;
}

#blue {
  color: #2092e9;
}

.atasKiri > p {
  margin-bottom: 5%;
  font-size: 15px;

  color: #111;
}

.buttonMain {
  display: flex;
  justify-content: left;

  gap: 12px;
  width: 100%;
}

.atasKanan {
  flex: 1;
}

.mainBawah {
  background-color: #2092e9;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  text-align: center;

  flex: 0.5;
  gap: 20px;
  padding: 20px;
}

.statistik > h3 {
  color: #ff950a;

  font-size: 30px;
}

.galeri {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 100vh;
}

.judul {
  justify-content: center;
  align-items: center;
  text-align: center;

  flex: 1;
  padding-top: 5%;
  font-size: 35px;

  color: #2092e9;
}

.galeriGrid {
  flex: 4;
  grid-gap: 10px;
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.kartu {
  height: 100px;
  width: 100%;

  background-color: #2092e9;
}

.kartu > img {
  height: auto;
  width: 100%;
  max-width: 300px;
  padding: 4px;

  object-fit: cover;
}

.funfact {
  flex: 1;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;

  background-color: #2092e9;
  color: #e9ebed;

  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.funfact > p {
  font-size: 30px;
}

.aboutUs {
  display: flex;
  flex-direction: row;

  gap: 20px;
  padding: 20px;

  color: #e9ebed;
}

.aboutKiri {
  background-color: #2092e9;

  flex: 1;
  border-radius: 8px;
}

.aboutKanan {
  flex: 3;

  text-align: left;
}

.aboutKanan > h2 {
  margin-bottom: 40px;
  color: #111;
}

.aboutKanan > h1 {
  margin-bottom: 25px;
  color: #111;
}

.aboutKanan > p {
  margin-bottom: 15px;
  color: #111;
  text-align: justify;
}

.banyakPeminat {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  min-height: 80vh;
}

.kiriPeminat {
  flex: 1;

  text-align: left;
}

.kiriPeminat > span {
  color: #ff950a;
}

.kananPeminat {
  display: flex;
  flex-direction: row;

  flex: 4;
  gap: 5px;
}

.peminat {
  background-color: #2092e9;

  padding: 10px;
  border-radius: 8px;
}

.kategori {
  display: flex;
  flex-direction: column;

  gap: 40px;
  margin-bottom: 2%;
}

.gridKategori {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.kartu2 {
  height: 120px;

  background-color: #2092e9;
}

.footer {
  display: flex;
  flex-direction: column;

  background-color: #333;
  color: white;

  padding: 60px 40px;

  justify-content: center;
  align-items: center;
}

.gridFooter {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 40px;
}

.aboutFooter {
  grid-area: auto;

  display: flex;
  flex-direction: column;

  gap: 20px;

  text-align: justify;
}

.companyFooter {
  grid-area: auto;

  display: flex;
  flex-direction: column;

  gap: 20px;

  text-align: justify;
}

.informationFooter {
  grid-area: auto;

  display: flex;
  flex-direction: column;

  gap: 20px;

  text-align: justify;
}

.subscribeFooter {
  grid-area: auto;

  text-align: justify;
}
